___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [19]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [20]:
df = pd.read_csv("Salaries.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

** Check the head of the DataFrame. **

In [21]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [23]:
not_provided_index = df[df["BasePay"] == "Not Provided"].index
df.loc[not_provided_index,"BasePay"] = 0
df["BasePay"]

0         167411.18
1         155966.02
2         212739.13
3           77916.0
4          134401.6
            ...
148649         0.00
148650            0
148651            0
148652            0
148653         0.00
Name: BasePay, Length: 148654, dtype: object

In [24]:
df["BasePay"] = df["BasePay"].astype(float)

In [25]:
df["BasePay"].mean()

66323.65685410085

** What is the highest amount of OvertimePay in the dataset ? **

In [26]:
not_provided_index_1 = df[df["OvertimePay"] == "Not Provided"].index
df.loc[not_provided_index_1,"OvertimePay"] = 0

df["OvertimePay"].max()

TypeError: ignored

In [27]:
df["OvertimePay"] = df["OvertimePay"].astype(float)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [28]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [29]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [30]:
df["TotalPayBenefits"].max()

567595.43

In [31]:
index1 = df[df["TotalPayBenefits"] == 567595.43].index
df.loc[index1,:]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [32]:
df["TotalPayBenefits"].min()

-618.13

In [33]:
index2 = df[df["TotalPayBenefits"] == -618.13].index
df.loc[index2,:]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [34]:
df.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66557.437750
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [35]:
len(df["JobTitle"].unique())

2159

** What are the top 5 most common jobs? **

In [36]:
df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [37]:
my_dict = dict(df.groupby("Year").get_group(2013)["JobTitle"].value_counts())
list1 = []
for key,values in my_dict.items():
  if values == 1:
    list1.append(key)

  else:
    continue

len(list1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [38]:
job_title_list = list(df["JobTitle"])
count = 0
chief = ["Chief", "CHIEF"]
for i in job_title_list:
  words = i.split(" ")
  for j in words:
    if j in chief:
      count += 1
    else:
      continue

count

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [66]:
list2 = []

for i in df["JobTitle"]:
  list2.append(len(i))

#df["JobTitle_Length"] = list2  OR
#df.drop(["JobTitle_Length"], axis = 1, inplace = True)
#df.insert(3,"JobTitle_Length", list2)

df.corr("pearson")

,Id,JobTitle_length,BasePay,OvertimePay,TotalPay,TotalPayBenefits,Year,Notes
Id,1.000000,-0.085332,-0.204936,-0.081523,-0.211478,-0.092190,0.968171,NaN
JobTitle_length,-0.085332,1.000000,-0.005018,-0.017160,-0.015356,-0.036878,-0.088883,NaN
BasePay,-0.204936,-0.005018,1.000000,0.266749,0.954496,0.946599,0.033693,NaN
OvertimePay,-0.081523,-0.017160,0.266749,1.000000,0.504860,0.467984,0.027870,NaN
TotalPay,-0.211478,-0.015356,0.954496,0.504860,1.000000,0.977313,0.032090,NaN
TotalPayBenefits,-0.092190,-0.036878,0.946599,0.467984,0.977313,1.000000,0.151947,NaN
Year,0.968171,-0.088883,0.033693,0.027870,0.032090,0.151947,1.000000,NaN
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Great Job!